<div class="m-5"> 
  <h2>質問メーカー</h2>

  <%= form_with url: homes_result_path, method: :post, local: true do |f| %>
      <div class="col-5 center-block py-3">
        <div class="form-group">            
          <%= f.label :'お名前は？' %>
          <%= f.text_field :name, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'何を実行しましたか？' %>
          <%= f.text_field :action, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'どういうエラーが出ましたか？' %>
          <%= f.text_field :error, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'行った手順は何ですか？' %>
          <%= f.text_field :step, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'表示されたエラー文をコピペしてください' %>
          <%= f.text_field :error_code, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'予想していた結果はどのようなものですか？'%>
          <%= f.text_field :expect, class: 'form-control' %> 
        </div>
        <div class="form-group">            
          <%= f.label :'参考資料はありますか？' %>
          <%= f.text_field :reference, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'行った試行の内容は何ですか' %>
          <%= f.text_field :try, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'その結果を教えてください' %>
          <%= f.text_field :result, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'使用しているPCは？' %>
          <%= f.text_field :user_pc, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'ローカル環境か、Dockerか？それともCloud 9か？' %>
          <%= f.text_field :environment, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'使用エディター' %>
          <%= f.text_field :editor, class: 'form-control' %>          
        </div>
            <div class="form-group">            
          <%= f.label :'使用言語' %>
          <%= f.text_field :programming_lang, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'GitHubのリンク' %>
          <%= f.text_field :github_link, class: 'form-control' %>          
        </div>
        <div class="form-group">            
          <%= f.label :'署名' %>
          <%= f.text_field :signature, class: 'form-control' %>          
        </div>
      </div>
    <%= f.submit %>

  <% end %>
</div>



