<div class="m-5"> 
  <h2>質問文を作成しました！どうでしょうか？</h2>
  <h5>コピーしてご利用ください！</h5>
  <div class="mt-5">

    <p>こんにちは、<%= @name %>です。</p>
    <p><%= @action %>を実行すると、<%= @error %>というエラーになる問題で困っています。</p>
    <p>私の行った手順は以下です。</p>
    <p><%= @step %></p>
    <p>すると、以下のような結果になりました。</p>
    <p><%= @error_code %></p>
    <p>私が想像していた結果は<%= @expect %>です。</p>
    <p>参考資料は<%= @reference %>です。</p>
    <p>原因を確かめるため、以下のようなテストを行ってみましたが、
    問題の解決には至りませんでした。</p>
    <p>試したこと：<%= @try %>の実行</p>
    <p>結果：<%= @result %></p>
    <p>OS：<%= @user_pc %></p>
    <p>開発環境：<%= @environment %></p>
    <p>エディター：<%= @editor %></p>
    <p>使用言語：<%= @programming_lang %></p>
    <p>GitHubリンク：<%= @github_link %></p>
    <p><%= @signature %></p>

  </div>
</div>